<%- include('partials/header') %>

<div class="container my-5">
    <h2 class="my-5">Simple CRUD Application with Express.js and SQLite database</h2>
    <p>The application is a simple To Do List, which implements CRUD operations in the Node.js javascript runtime environment.</p>
</div>

<%- include('partials/footer') %>